
body {
    font-family: 'Verdana', Arial, sans-serif; 
    font-size: 1rem; 
    color: #2c3e50;
    background-color: #f4f4f4;
    padding: 2rem 1rem; 
    text-align: center;
}

header {
    background-color: #073a23; 
    color: white;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem; 
    margin-bottom: 1.5rem;
}

a {
    color: #e4e8ed;
    text-decoration: none;
}

a:hover {
    color: #a629b9;
}



main {
    margin: auto 5%;
    text-align: left;
}

section {
    margin-bottom: 2.5rem; 
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #34495e; 
}
/* Estilos del formulario */
form {
    width: 100%; 
}

input, textarea, select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
}

input[type="checkbox"] {
    width: auto; /* Permite que el checkbox ocupe solo el espacio necesario */
    margin-right: 0.5rem; /* Agrega un pequeño espacio entre el checkbox y el texto */
}

label {
    display: inline-block; /* Asegura que el checkbox y el texto estén en la misma línea */
}

button {
    width: 100%; 
    padding: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
}

button:hover {
    background-color: #2980b9;
}

input:invalid, select:invalid, textarea:invalid, checkbox:invalid {
  background-color:  background-color: rgb(255, 230, 230); /* Light red background */
}


footer {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #777;
}
